<script lang="ts">
    import {
        Marker,
        Tooltip,
        Popup
    } from "../svelteLeafletWrapper";
    import Logo from "./Logo.svelte";
    import {point2LatLngForMarker} from "../latlngCalc"


    export let station: Station;
</script>
<Marker latLng={point2LatLngForMarker(station.coordinate_x, station.coordinate_y)}>
    <Popup options={{"minWidth": 200}}>
        <div>座標: { station.coordinate_x } x {station.coordinate_y }</div>
        <Logo name="{station.name}"/>
    </Popup>
    <Tooltip>({ station.coordinate_x } x {station.coordinate_y }) 宇宙駅舎:{station.name}</Tooltip>
</Marker>

